#main {
    width: 100vw;
    height: 100vh;
}

#main_page {
    display: flex;
    justify-content: center;
}

#main_page_content {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-right: 200px;
    padding-bottom: 50px;
}

#main_content {
    display: block;
}

#jason_div_video {
    display: flex;
    justify-content: center;
}

#going_rogue_video {
    width: 100%;
    height: 100%;
}

#search_container {
    position: absolute;
    width: 870px;
    z-index: 300;
    height: 66px;
    margin-top: 4px;
    left: calc(23vw);
}

#search_input {
    color: #0e1c25;
    font-size: 14px;
    margin-top: 1px;
    text-shadow: 1px 1px 0px rgb(255 255 255 / 10%);
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-style: italic;
}

#search_div {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 940px;
    height: 35px;
    padding: 0 16px;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
    box-shadow: 0 0 3px rgb(0 0 0 / 40%);
    z-index: 300;
}

#sidebar_nav {
    display: block;
    width: 210px;
    overflow: hidden;
}

#sidebar_nav_list {
    font-family: "Motiva Sans", Sans-serif;
    font-size: 13px;
    top: 31px;
    width: 210px;
    z-index: 2;
}

#gift_cards {
    max-width: 100%;
    border: none;
    margin: 7px 0;
    width: 150px;
    height: 125px;
    background-size: cover;
    background-image: url("../../public/static/images/vaporcards_promo.png");
}

#content {
    position: flex;
    justify-content: center;
    margin-top: 5px;
}

#main_content {
    width: 940px;
    height: 353px;
}

#feature {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 -10px;
    letter-spacing: 0.03em;
    padding-top: 20px;
}

#carousel {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background: none;
    padding-top: 20px;
    padding-bottom: 10px;
    right: 100px;
}

#game_img_carousel {
    width: 616px;
    height: 353px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: opacity 300ms;
}

#carousel_content {
    display: flex;
    background-image: url("../../public/static/images/background_maincap_2.jpg");
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
    display: flex;
    height: 353px;
    box-shadow: 0 0 7px 0px #000;
    overflow: hidden;
    box-shadow: 0 0 10px 5px #000;
}

#game_image_carousel {
    width: 100%;
    height: 100%;
}


#game_image_main {
    width: 616px;
    height: 353px;
    z-index: 2;
    background-color: #000;
    box-shadow: 0 0 10px 5px #000;
}

#game_title {
    max-height: 62px;
    overflow: hidden;
    font-size: 24px;
    padding-bottom: 4px;
    padding-top: 4px;
    line-height: 26px;
    padding-top: 0px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    height: 69px;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    align-items: center;
}

#game_side_content {
    display: flex;
    flex-direction: row;
}

#game_image_thumb {
    width: 162px;
    height: 69px;
    padding: 10px 10px 0 0;
}

#future_specials_div {
    padding: 1px;
}

#console_wrap {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px;
    padding-bottom: 80px;
    width: 900px;
}

#vapor_deck_div {
    display: block;
    max-width: 465px;
    width: 100%;
    height: 60px;
    background-size: cover;
    background-image: url("../../public/static/images/vapordeck.png");
    background-repeat: no-repeat;
    border-radius: 8px;
}

#vapor_index_div {
    display: block;
    max-width: 465px;
    margin-left: 25px;
    width: 100%;
    height: 60px;
    min-width: none;
    background-size: cover;
    background-image: url("../../public/static/images/vaporindex.png");
    background-repeat: no-repeat;
    border-radius: 8px;
}

#vapor_deck_div:hover {
    box-shadow: 0 0 12px #66c0f4;
}

#vapor_index_div:hover {
    box-shadow: 0 0 12px #66c0f4;
}

a {
    text-decoration: none;
}

#next_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 108px;
    position: absolute;
    bottom: 99px;
    right: -45px;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
}

#prev_button_div {
    position: absolute;
    top: 171px;
    left: -46px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 108px;
    background-color: rgba(0,0,0,0.3);
}

#next_button_div:hover {
    background: -webkit-linear-gradient( left, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);
}

#prev_button_div:hover {
    background: -webkit-linear-gradient( left, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);
}

#game_list_content_container {
    position: absolute;
    left: 0;
    background: linear-gradient( to bottom, rgba(42,71,94,1.0) 5%, rgba(42,71,94,0.0) 70%);
    padding-top: 1px;
    margin-top: 60px;
    overflow: visible;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
    width: 100%;
    height: 835px;
    display: flex;
    justify-content: center;
}

#game_list_content {
    margin-top: -49px;
    width: 1408px;
    height: 815px;
    display: flex;
    justify-content: center;
}

#game_list_left_container {
    padding-left: 25px;
    padding-right: 5px;
    width: 610px;
    float: left;
}

#right_col_hover {
    width: 308px;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}

#game_list {
    width: 618px;
    height: 771px;
    padding-top: 25px;
}
