@font-face {
  font-family: Motiva Sans;
  src: url("../../public/fonts/Motiva-Sans-Light.ttf");
}

#nav {
  background: #171a21;
  display: flex;
  justify-content: center;
}

#navarea {
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0px auto;
  z-index: 402;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  background: #171a21;
  color: #E9E9E9;
}

#div_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  width: 176px;
  height: 44px;
}

.nav_nav {
  padding: 7px 7px;
  font-weight: 500;
}

#logo {
  width: 176px;
  height: 60px;
}

#navbar {
  display: flex;
  justify-content: space-around;
  font-family: "Motiva Sans", Sans-serif;
  color: #b8b6b4;
  margin: 25px;
  letter-spacing: .5px;
}

.nav_links {
  text-decoration: none;
  color: #b8b6b4;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.signup_form {
  position: relative;
  left: -50px;
}

.nav_links:hover {
  color: white;
}

#loginnav {
  position: absolute;
  display: flex;
  vertical-align: top;
  top: 5px;
  right: 5px;
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
}

.demo_login {
  padding-left: 3px;
  text-decoration: none;
  color: #fff !important;
}

#join_pc {
  width: 320px;
}

#page_content {
  height: 80vh;
  background: #212429;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #E9E9E9;
  background-image: url("../../public/static/images/steamloginbg.jpg");
  background-repeat: no-repeat;
}

#signup_page_content {
  height: 80vh;
  background: #212429;
  display: flex;
  justify-content: center;
  color: #E9E9E9;
  background-image: url("../../public/static/images/steamloginbg.jpg");
  background-repeat: no-repeat;
  background-position: left;
}

@media (max-width: 1440px) {
  #signup_page_content {
    height: 90vh;
  }
}

@media (max-width: 1440px) {
  #page_content {
    height: 90vh;
  }
}

#signup_form {
  position: relative;
  right: 150px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 12px;
  padding: 40px 20px 20px 20px;
  background: radial-gradient(30% 40% at 40% 30%, rgba(33, 36, 41, .5) 0%, rgba(33, 36, 41, 0) 100%) #2124296e;
}

#signup_text {
  padding-top: 45px;
  position: relative;
  right: 50px;
  font-family: "Motiva Sans", Sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 200;
  letter-spacing: 2px;
}

#sign_up_form {
  color: #E9E9E9;
  box-shadow: none;
  outline: none;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
}

.sign_up_button {
  position: relative;
  top: 10px;
  padding: 5px 59px;
  font-size: 15px;
  line-height: 15px;
  height: 37px;
  font-family: "Motiva Sans", Sans-serif;
  border-radius: 2px;
  border: none;
  color: #c3e1f8;
  cursor: pointer;
  background: transparent;
  text-shadow: 1px 1px 0px rgb(0 0 0 / 30%);
  background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
  background-position: 25%;
  background-size: 330% 100%;
  border-radius: 2px;
}

#login_checkbox {
  position: relative;
  top: 20px;
}

#fake_checkbox {
  display: flex;
  justify-content: flex-start;
}

#robot_div {
  display: flex;
}

#login_checkboxa {
  position: relative;
  top: 8px;
}

#signinform {
  width: 25%;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 12px;
  padding: 40px 20px 20px 20px;
  background: radial-gradient(30% 40% at 40% 30%, rgba(33, 36, 41, .5) 0%, rgba(33, 36, 41, 0) 100%) #2124296e;
}


#signintext {
  font-family: "Motiva Sans", Sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
}

#loginform {
  display: flex;
  justify-content: center;
  color: #E9E9E9;
  padding: 8px 6px;
  box-shadow: none;
  outline: none;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
}

#signup {
  font-family: "Motiva Sans", Sans-serif;
  padding: 100px 0 0;
  font-size: 14px;
  text-align: center;
}

#join_vapor {
  padding: 0 15px;
  font-size: 15px;
  line-height: 30px;
  color: #E9E9E9;
  display: block;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 2px;
}

#signup_button {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}

#footer {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 16px 0 60px 0;
  margin: 0;
  background: #171a21;
  color: #8F98A0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

#profile_ {
  padding: 5px;
  cursor: pointer;
}

#profile {
  text-decoration: none;
  color: #8F98A0;
}

.profile_dropdown {
  position: absolute;
  width: 100%;
  text-decoration: none;
  padding: 5px 12px;
  text-transform: none;
  font-family: Motiva Sans, Arial, Helvectica, Verdana, sans-serif;
  font-size: 12px;
  bottom: -45px;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  border: 1px solid #171a21;
  background-color: #171a21;
  box-shadow: 0px 0px 2px rgb(185, 181, 217);
}

.profile_div {
  display: flex;
}

#logout {
  padding: 3px 1px;
  color: #d5d2d2;
  text-overflow: unset;
}

#profile {
  padding: 3px 1px;
  color: #d5d2d2;
}

#profile:hover {
  text-shadow: 0px 0px rgb(255, 255, 255), 0px 0px white;
}

#logout:hover {
  text-shadow: 0px 0px rgb(255, 255, 255), 0px 0px white;
}

#profile_pic {
  background-color: #E9E9E9;
  width: 32px;
  height: 32px;
  padding: 1px;
  border-radius: 0;
  border: none;
}

#cart-button-div {
  display: flex;
  justify-content: flex-end;
  width: 940px;
  margin-bottom: 5px;
}

#search_container_div {
  width: 940px;
}

#cart_link {
  background-image: url("../../public/static/images/background_cart.jpg");
  background-position: -34px 30px;
  width: auto;
  height: 20px;
  background-color: rgba( 164, 208, 7, 0.4 );
  box-shadow: 0 0 3px #000;
  font-size: 11px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-left: 1px;
  border-radius: 1px;
}

#cart_link a {
  display: inline-block;
  padding: 0 45px;
  margin: 0 1px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
  color: #ffffff;
}

#cart_link a:hover {
  color: #111111;
  background-color: rgba( 164, 208, 7, 0.50 );
}

#search_form {
  position: static;
  z-index: 10;
}

.form-search-div {
  width: 314.34px;
}

.searchresult-list {
  background: linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
  display: flex;
  flex-direction: column;
  position: relative;
  right: -41px;
  top: 5.1px;
  z-index: 11;
}

.game-li {
  list-style: none;
  border-bottom: 1px solid black;
  padding: 8px 5px 8px 5px;
  font-size: 12px;
  display: flex;
  /* max-height: 53.8px; */
  min-width: 243px;
}
.game-li:hover {
  background: linear-gradient(180deg, #27282b 11.6%, #3A4852 54.73%, #2C2D34 100%);
}

.game-link {
  text-decoration: none;
  color: white;
}

.game-separator {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  color: white;
}
