@font-face {
  font-family: Motiva Sans;
  src: url("../../public/fonts/Motiva-Sans-Light.ttf");
}

#nav {
  background: #171a21;
  display: flex;
  justify-content: center;
}

#navarea {
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0px auto;
  z-index: 402;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  background: #171a21;
  color: #E9E9E9;
}

#div_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  width: 176px;
  height: 44px;
}

.nav_nav {
  padding: 7px 7px;
  font-weight: 500;
}

#logo {
  width: 55px;
  height: 45px;
}

#navbar {
  display: flex;
  justify-content: space-around;
  font-family: "Motiva Sans", Sans-serif;
  color: #b8b6b4;
  margin: 25px;
  letter-spacing: .5px;
}

.nav_links {
  text-decoration: none;
  color: #b8b6b4;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav_links:hover {
  color: white;
}

#demo_login {
  padding-left: 3px;
}

#loginnav {
  position: absolute;
  display: flex;
  vertical-align: top;
  top: 5px;
  right: 5px;
  font-size: 12px;
  font-family: "Motiva Sans", Sans-serif;
}

#demo_login {
  text-decoration: none;
  color: #fff !important;
}

#join_pc {
  width: 320px;
}

#page_content {
  height: 80vh;
  background: #212429;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #E9E9E9;
  background-image: url("../../public/images/steamloginbg.jpg");
  background-repeat: no-repeat;
}

#signinform {
  width: 25%;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 12px;
  padding: 40px 20px 20px 20px;
  background: radial-gradient(30% 40% at 40% 30%, rgba(33, 36, 41, .5) 0%, rgba(33, 36, 41, 0) 100%) #2124296e;
}

#signintext {
  font-family: "Motiva Sans", Sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
}

#loginform {
  display: flex;
  justify-content: center;
  color: #E9E9E9;
  padding: 8px 6px;
  box-shadow: none;
  outline: none;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
}

#signup {
  font-family: "Motiva Sans", Sans-serif;
  padding: 100px 0 0;
  font-size: 14px;
  text-align: center;
}

#join_vapor {
  padding: 0 15px;
  font-size: 15px;
  line-height: 30px;
  color: #E9E9E9;
  display: block;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 2px;
}

#signup_button {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

#footer {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px 0 60px 0;
  margin: 0;
  background: #171a21;
  color: #8F98A0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

#profile_ {
  padding: 5px;
  cursor: pointer;
}

#profile {
  text-decoration: none;
  color: #8F98A0;
}

.profile_dropdown {
  position: absolute;
  width: 100%;
  text-decoration: none;
  padding: 5px 12px;
  text-transform: none;
  font-family: Motiva Sans, Arial, Helvectica, Verdana, sans-serif;
  font-size: 12px;
  bottom: -45px;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  border: 1px solid #171a21;
  background-color: #171a21;
  box-shadow: 0px 0px 2px rgb(185, 181, 217);
}

.profile_div {
  display: flex;
}

#logout {
  padding: 3px 1px;
  color: #d5d2d2;
  text-overflow: unset;
}

#profile {
  padding: 3px 1px;
  color: #d5d2d2;
}

#profile:hover {
  text-shadow: 0px 0px rgb(255, 255, 255), 0px 0px white;
}

#logout:hover {
  text-shadow: 0px 0px rgb(255, 255, 255), 0px 0px white;
}

#profile_pic {
  background-color: #E9E9E9;
  width: 32px;
  height: 32px;
  padding: 1px;
  border-radius: 0;
  border: none;
}

#cart-button-div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 972px;
  /* background-color: rgba( 164, 208, 7, 0.4 ); */
  margin-bottom: 5px;
}

#cart-button-div button {
  width: 100px;
  box-shadow: 0 0 0px #000;
  background: linear-gradient( to bottom, rgba(121,153,5,1) 100%, rgba(83,105,4,1) 95%);
  color: #ffffff;
}
