@font-face {
  font-family: Motiva Sans;
  src: url("../../public/fonts/Motiva-Sans-Light.ttf");
}



#selected-image {
  width: 600px;
  height: 337px;
}

#game_video_detail_id {
  width: 600px;
  height: 337px;
}

#react-media-subcontainer {
  width: 616px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  margin-right: 14px;
}

#details-subcontainer {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  height: 392px;
  width: 324px;
  word-wrap: break-word;
  background-image: linear-gradient(to bottom right,#5f5f5f00, #0000009c );
}

#main-game-image {
  width: 324px;
  height: 151px;
}

#description-paragraph {
  font-family: Arial, Helvetica, sans-serif;
  color: #c6d4df;
  max-height: 111px;
  overflow: hidden;
  font-size: 13px;
  line-height: 18px;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

#user-review-div {
  display: flex;
}

#user-review-div > p {
  margin-right: 30px;
}

#developer-name-div {
  display: flex;
}

#developer-name-div > p {
  margin-right: 30px;
}

.subdetail-divs {
  font-size: 11px;
  color: #a3abb1;
  margin: 0px 0px 0px 0px;
}

#add-cart-content {
  width: 940px;
  margin: 0 auto;
}

#add-cart-div {
  width: 616px;
  float: left;
}

#add-cart-items {
  color: #acb2b8;
}

#add-cart-items-wrapper {
  margin-bottom: 28px;
}

.add-cart-item {
  margin-bottom: 0px;
  position: relative;
  background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
  border-radius: 4px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #c6d4df;
  padding: 16px;
  padding-bottom: 26px;
  margin-bottom: 28px;
  z-index: 1;
}
#add-cart-items > div > div > h1 {
  font-size: 21px;
  font-family: "Motiva Sans", sans-serif;
  color: #ffff;
  font-weight: normal;
  margin: 0 0;
}

#add-cart-item-action {
  position: absolute;
  right: 16px;
  bottom: -17px;
  left: 16px;
  white-space: nowrap;
  text-align: right;
}

#add-cart-item-action-div {
  height: 32px;
  vertical-align: bottom;
  display: inline-block;
  background-color: #000000;
  padding: 2px 2px 2px 0px;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 0;
}

#add-cart-item-price {
  background-color: #000000;
  font-size: 13px;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  height: 24px;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}

#add-cart-bttn {
  position: relative;
  font-size: 12px;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
  background-color: rgb(43, 143, 43);
  height: 90%;
  border-radius: 2px;
}

#bttn-cartadd {
  border-radius: 2px;
  border: none;
  padding: 1px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  color: #b3e969;
  background: transparent;
  text-shadow: 1px 1px 0px rgb(0 0 0 / 30%);
  padding: 0 15px;
  font-size: 15px;
  line-height: 30px;
}

.reviews-container {
  display: flex;
  align-items: flex-start;
}

.delete-bttn {
  text-decoration: none;
  color: white;
}

#game_id_tags {
  height: 70px;
  width: 323px;
  display: flex;
  flex-direction: column;
  line-height: 19px;
  font-size: 12px;
  color: #b0bdc5;
  padding-top: 10px;
}

#game_tags {
  display: flex;
  padding-top: 10px;
}

#genre_tags {
  color: #67c1f5;
  background-color: rgba( 103, 193, 245, 0.4 );
  line-height: 19px;
  padding: 0 7px;
  color: #67c1f5;
  background-color: rgba( 103, 193, 245, 0.2 );
  box-shadow: none;
  margin-right: 2px;
  border-radius: 2px;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
