@font-face {
  font-family: Motiva Sans;
  src: url("../../public/fonts/Motiva-Sans-Light.ttf");
}

body {
  background-color: #1b2838;
}

.banner-temp {
  background-color: #000000;
  height:100px;
}

.user-banner {
  color: white;
  height:100px;
  background-color: #6c6c7942;
  display: inline-flex;
  padding: 5px;
  width: 1120px;
}
.review-detail-container {
  display: inline-flex;

}

.review-content-subbody {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #1b2838;
  color: white;
  font-family: "Motiva Sans", Sans-serif;
  display: flex;
  width: 640px;
  height: 444px;
  background-color: #0e0e0f42;
  align-items: flex-start;
  padding: 5px;
}

.recommendation-subbody {
  display: inline-flex;
}

.right-offset-detail-subbody {
  display: flex;
  flex-flow: column;
  background-image: linear-gradient(to bottom right,#5f5f5f00, #0000009c );
  min-width: 440px;
  color: white;
  text-decoration: none;
  padding: 5px;
}
