@font-face {
  font-family: Motiva Sans;
  src: url("../../public/fonts/Motiva-Sans-Light.ttf");
}

.whole-page {
  display: block;
  /* border: 2px solid black; */
  padding: 0;
  margin: 0;
}

.main-page-div {
  display: flex;
  flex-flow: column;
  width: 940px;
  margin: 0px auto;
  /* border: 2px solid white; */
}

.header-content {
 padding-bottom: 64px;
 margin-bottom: -30px;
 padding-top: 80px;
 background: url('../../public/static/images/background-header.png') bottom center;
}

.extra-links {
  display: flex;
  color: #56707f;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
}


#products-link {
  text-decoration: none;
  color: #8f98a0;
  font-size: 12px;
  font-family: 'Motiva Sans', sans-serif;
  margin-right: 5px;
}

#products-link:hover {
  color: #ffffff;
}
.header-content h2 {
  color: #ffffff;
  font-size: 33px;
  font-family: "Motiva Sans", sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px 0 rgb(0 0 0 /40%);
  margin-top: -4px;
  /* margin-bottom: 20px; */
}

.main-page-content {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.left-content {
  /* border: 2px solid red; */
  width: 616px;
  float: left;
  font-family: "Motiva Sans", sans-serif;
  color: #c6d4df;
  font-weight: normal;
  margin: 0px 0px 3px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cart-item-container {
  /* border: solid 2px black; */
  margin: 3px 10px;
  background-color: rgba(0,0,0,0.2);
}

.cart-li-image {
  float: left;
  margin: 10px 15px;
  padding: 2px 2.5%;
  width: 120px;
  height: 45px;
  text-align: center;
}

.cart-li-image img {
  width: auto;
  height: 45px;
  background-color: black;
}

.cart-item-desc {
  display: inline-flex;
  justify-content: space-between;
  width: 65%;
  font-size: 13px;
}

.cart-item-price-remove {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 17px;
}

.cart-item-price-remove p {
  margin: 0px 0px;
  /* margin-top: 15px; */
}

.cart-item-price-remove span {
  font-size: 11px;
  margin-top: 5px;
  text-decoration: underline;
  color: #56707f;
  cursor: pointer;
}

.right-content {
  /* border: 2px solid red; */
  width: 308px;
  margin-left: 14px;
  float: right;
}

.right-content-divs {
  margin-bottom: 30px;
  padding: 0px;
  height: 190px;
  box-shadow: 0 0 5px #000;
  background: linear-gradient(to bottom, #758996 75%,#30588b 95%);
}

.right-content-divs img {
  width: 100%;
  height: auto;
}

#total-div-container {
  margin: 3px 10px;
  background-color: rgba(0,0,0,0.2);
}

#total-price-items {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  margin-top: 15px;
  font-size: 13px;
  font-weight: bolder;
}

#total-div-price-checkout {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  font-size: 13px;
  margin: 10px 0px;
}

#total-div-price-checkout p {
  margin: 0 0;
}

#total-div-actions {
  display: flex;
  justify-content: flex-end;
  margin: 20px 5px;
  margin-bottom: 10px;
}

#total-div-actions span {
  margin: 15px 10px;
  width: 100px;
  opacity: 0.45;
  cursor: default;
  background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
  border-radius: 2px;
  border: none;
  color: #D2E885 !important;
  padding: 5px 40px;
  text-align: center;
}

#is-active-total-bttns:hover {
  color: #ffffff !important;
  background: linear-gradient( to bottom, rgba(121,153,5,1) 100%, rgba(83,105,4,1) 95%);
  opacity: 100%
}

.inside-div {
  width: 100%;
  height: 100%;
}

#removed-cart-item {
  display: flex;
  width: fit-content;
  background-color: #758e9d;
  color: #ffffff;
  margin:3px 10px;
  padding: 5px 10px;
  font-family: "Motiva Sans", sans-serif;
  font-weight: bold;
  line-height: 29px;
  font-size: 12px;
}

#after-purchase-modal-div {
  width: 430px;
  height: 230px;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  font-family: "Motiva Sans", sans-serif;
}

#item-in-purchase-title {
  font-size: 26px;
  color: #ffffff;
}

.item-in-purchase-modal {
  padding: 5px 5px;
  margin: auto auto;
}

#item-in-purchase-button a {
  font-size: 17px;
  padding: 10px 10px;
  width: 100px;
  box-shadow: 0 0 0px #000;
  background: linear-gradient( to bottom, rgba(121,153,5,1) 100%, rgba(83,105,4,1) 95%);
  color: #ffffff;
  text-decoration: none;
}

#cart-carousel-outside-div {
  width: 100%;
  height: 400px;
  display: flex;
  /* align-items: center;
  justify-items: center; */
  box-shadow: 0 0 5px #000;
}

/* background: #15212e; */
/* background: url(/public/images/v6/spotlight_background.jpg?v=1) bottom center no-repeat; */
#carousel-img {
  object-fit: cover;
  width: 100%;
}

#spotlight-content {
  padding: 8px 16px 12px 16px;
  color: #9099a1;
  font-size: 12px;
  position: relative;
  bottom: 0;
  width: 274px;
  height: 500px;
  margin: 1px;
  z-index: 0;
}
